<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./cardTemplateStyle.css"/> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gloock|Roboto">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" >
  
    </head>
    <body>
        <section>
            <div class="imageContainer">
                <img id="gender" src="../images/women.png"  alt="person genre"/> 
            </div>
            <h3 id="name">((Name))</h3>
            <div class="flexContainer">
                <p class="left">Height</p>
                <p id="height" class="right">((Height))</p>
            </div>
            <div class="flexContainer">
                <p class="left">Hair color</p>
                <p id="hairColor" class="right">((Hair color))</p>
            </div>
            <div class="flexContainer">
                <p class="left">Skin color</p>
                <p id="skinColor" class="right">((Skin color))</p>
            </div>
            <div class="flexContainer">
                <p class="left">Eye color</p>
                <p id="eyeColor" class="right">((Eye color))</p>
            </div>
            <div class="flexContainer">
                <p class="left">Birth year</p>
                <p id="birthYear" class="right">((Birth year))</p>
            </div>
        </section>
    </body>
</html>

