body {
    background-image: url('https://w.wallhaven.cc/full/2e/wallhaven-2e5lxy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.logoImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImageContainer img {
    max-height: 15%;
    max-width: 15%;
}

#cardsSection {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap; 
    width: 100vw;
}